@import '../../styles/colors.scss';

.invoice {
    background-color: $color3;
    width: 44em;
    align-items: center;
    margin: 8px;
  }

.invoice-header{
  display: flex;
  justify-content: space-between;
  padding: 1em ;
  background-color: $color1;
  margin-bottom: 0.2em;
  font-weight: 300;
  
  p:first-child {
    color: $color7;
    margin-bottom: 7px;
  }
}

.invoice-content {
  display: flex;
  justify-content: space-around;
  background-color: $color2;
  padding: 1.5em 1em;
}

.product-img {
  height: 100px;
  width: 150px;
  border:2px solid #2c2c2c;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0,0,0,.4);
}

.product-details {
  display: flex;
  justify-content: space-around;
  height: 100px;
  width: 75%;
  .total-price-wrapper,
  .product-and-user-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-weight: 300;
    p:nth-child(2){
      font-weight: 400;
      color: $color1;
    }
  }

  .product-and-user-wrapper {
    margin: 0 17em 1.5em 0;
  }

  .user {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    img {
      border: 1px solid $color1;
      border-radius:50%;
      width: 40px;
      height: 40px;
    }
    p {
      margin-left: 0.5em;
      font-size: 12px;
    }
  }

  .detail-btn {
    margin-top: 1em;
  }

}

.details-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 0.2em;
  background-color: $color2;
  .product-detail-header,
  .product-info{
    display: flex;
    justify-content: space-between;
    padding: 1em;
  }
  
  .product-detail-header {
    padding-bottom: 0;
    font-weight: 300;
  }
}