$color1: #d4145A;
$color2: #2d2d2d; // SecondaryMenu color
$color3: #1a1a1a;
$color4: #999999;
$color5: #fcee21;
$color6: #4d4d4d; // use for font color on labels
$color7: #b3b3b3; // font color for input fields
$color8: #f2f2f2; // background color for input fields
$color9: #29abe2; // upload button background-color 
$color10: #39854a; // submit background-color
$color11: #333333; // other message user
$color12: #dd4378; // logged in user message background-color