.main-wrapper{
    header{
        display:flex;
        justify-content: flex-end;
        padding:10px 50px;
    }
}
.landingPage-container{
    display:flex;
    flex-wrap:wrap;
    justify-content: flex-start;
}
    