.AddImage {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin: 8px;
  padding: 10px;
}

img {
  height: 60px;
}

.file-upload-input {
  justify-content: space-around;
  text-align: center;
  width: 50%;
  background: #39D2B4;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  label {
    color: #f1f1f1;
    font-weight: bolder;
    cursor: pointer;

  }
}

input[type="file"] {
  display: none;
}