.userinfo {
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.useravatar{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.userfname {
  margin:1;
}

.userlname {
  margin:1;
}

.useremail {
  margin:1;
}

.userphone {
  margin:1;
}

.userbio {
  margin:1;
  padding: 2px;
}