@import "../../styles/colors.scss";

.productTile{
    position:relative;
    padding:20px;
    margin:10px;
    min-width:320px;
    height:200px;
    border:2px solid #2c2c2c;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0,0,0,.4);
    

}
.btn-wrapper{
    display: flex;
    justify-content: flex-end;
}
.delete-btn {
    display: none;
}
.productTile:hover .delete-btn {
    display: block;
    background-color: $color1;
    padding: 5px;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    cursor: pointer;

}
.edit-btn {
    display: none;
    margin:0 10px;
}
.productTile:hover .edit-btn {
    display: block;
    background-color: $color9;
    padding: 5px;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    
}
.info-wrapper{
    position:absolute;
    bottom:0;
    left:0;
    background-color:rgba(0,0,0,.4);
    width:100%;
    padding:5px 20px;
}
.wrapper{
    display:flex;
    padding:0;
    margin-top:auto;
    .price{
        margin-left:auto;   
    }
    h4{
        font-weight:300;
        margin:0;
    }
    h6{
        font-weight:300;
        font-size:.75em;
    }
}
