@import "../../styles/colors.scss";

header{
    position:fixed;
    width:100%;
    z-index:100;
    .secondarymenu{
        padding:10px 20px;
        background-color:$color2;
        display:flex;
        justify-content: flex-end;
    }
}
section{
    display:flex;
    height:100%; 
    margin-top:65px;
    main{
        display:flex;
        height:100%;
        width:75%;
    }
    aside{
        // background-color:orange;
        min-width:25%;
        min-height:100vh;
        display:flex;
        align-items:center;
    }
}